.promo {
    color:white;
    min-height: 70vh;
    position: relative;
    background-position: center;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0, 0.7) 20%), url(../img/unsplash-11.jpg);
    background-size: cover;
    padding-top: 205px;
    &__title {
        width: 700px;
        margin-top: 10px;
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        font-weight: bold;
        color: #000;
        
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}